.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
}

.info-container {
  width: 70vw;
  background-color: #fff;
  height: 100vh;
  border-radius: 3px;
}

.houseImage {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.displayPropertyInfo {
  margin-left: 1rem;
}

.propertyPrice {
  margin-bottom: 0;
}

.propertyDetails {
  display: inline-block;
  padding-right: 1rem;
  margin-bottom: 0;
}

.propertyAddress {
  display: inline-block;
  width: 45%;
  padding-right: 1rem;
}

.emailAgent {
  display: inline-block;
  width: 45%;
  background-color: white;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 0.5rem;
  color: blue;
}

.emailAgent:hover {
  cursor: pointer;
}

.emailAgent:active {
  background-color: rgb(48, 48, 255);
  color: white;
}
